@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize the scrollbar for webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f7f7f7;
}

::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}
